div.dokuwiki #vg fieldset {
    width:55em;
    margin-bottom:2em;
}

div.dokuwiki #vg label span {
    width:20em;
    float:left;
}

div.dokuwiki #vg input {
    width:25em;
    float:left;
}

div.dokuwiki #vg input.button {
    float:none;
    margin-top:1em;
}

#vg__show td.act{
    text-align:center;
}

#vg__show {
    width:100%;
    margin-top:2em;
}

#vg__show a.vg_edit {
    background: url(images/user_edit.png) no-repeat;
    padding-left: 18px;
    padding-top: 2px;
}

#vg__show a.vg_del {
    background: url(images/user_delete.png) no-repeat;
    padding-left: 18px;
    padding-top: 2px;
}
